*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.circle1{
    background: linear-gradient(-25deg, #4859d8, #bdb7ca);
    position: fixed;
    width: 13em;
    height: 13em;
    border-radius: 50%;
top: 5%;
left: 30%;
 box-shadow: 0 0 50px #bdb7ca;
animation: circ1 15s infinite; 


}
@keyframes circ1 {
    50% {
        left: 33%;
        top: 4%;
        scale: 1.11;
      }
    
}
.circle2{
    background: linear-gradient(-25deg, #d84869, #f46641);
    position: fixed;
    width: 19em;
    height: 19em;
    border-radius: 50%;
right: 30%;
bottom: 5%;
box-shadow:  0 0 50px #d84869;
animation: circ2 15s infinite;

}

@keyframes circ2 {
    50%{
        right: 33%;
        bottom: 4%;
        scale: 1.11;
    }
    
}


.Profile{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 450px;
    border: 2px solid #ffffff30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff1a;
    border-radius: 15px;
    backdrop-filter: blur(15px);
padding: 20px 50px;



}
.Profile div img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff30;

}
.user-name h1{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.user-info h3{
    color: #ffffff85;

}

.button-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn-share{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    color:#ffffffb9;
    

}
.btn-follow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    color:#ffffffb9;
    transition: all 0.5s ;
 

}

.button-group :hover{
    color: #131313;
    background:#ffffffb9 ;
}
.button-group:hover .btn-share > div,
.button-group:hover .btn-follow > div {
    background-color: transparent;
}


.Modal2{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;

}



.Modal-header2{
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid  #ffffff88;


}

.Modal-header2 h1{

    margin: -12px ;
 
}


.Modal-header2 div i{
    font-size:30px;
    
}

.close{
    cursor: pointer;
}

.icon-group2{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.icon2{
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 10px 0px;
    gap: 10px;
    transition: all 0.5s;
    border: 1px solid #ffffff88;
}

.icon2 i{
    font-size: 27px;
}

#facebook{
    color: #1771e6
  

}
#linkedin{
    color: white;


}
#github{
    color: black;
  

}
#X{
    color: whitesmoke;

  

}
#instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
  }
  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }
  
  #whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
  }
#facebook:hover{
    background-color: #1771e6;
    color: #fff;
  

}
#linkedin:hover{
    color: white;
    background: #3b5998;
  

}

#github:hover{
    color: white;
    background: black;
  

}
#X:hover{
    color: white;
    background:black;
  

}

#whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
  
  #telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
  }
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }
  
.active{
    scale: 1;

}




.overlay{
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    pointer-events: none;
    transition:0.5s ease-in-out ;

}
.overlayactive{
    opacity: 1;
    pointer-events: initial;
}
.Modal1{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.Modal-header1{
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid  #ffffff88;
}
.Modal-header1 h1{

    margin: -12px ;
 
}


.Modal-header1 div i{
    font-size:30px;
    
}

.close1{
    cursor: pointer;
}

.icon-group1{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.icon1{
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 10px 0px;
    gap: 10px;
    transition: all 0.5s;
    border: 1px solid #ffffff88;
}

.icon1 i{
    font-size: 27px;
}
.overlay1{
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    pointer-events: none;
    transition:0.5s ease-in-out ;
}
.overlayactive1{
    opacity: 1;
    pointer-events: all;
}
.active1{
    scale: 1;
}